<div class="row">
  <div class="col-md-12">
    <h1>Insert your vocabulary file</h1>
  </div>
  <div class="col-md-12">
    <kendo-upload
      [withCredentials]="false"
      [autoUpload]="true"
      [saveUrl]="savUrl"
      (success)="onSuccess($event)"
      [multiple]="false">
    </kendo-upload>
  </div>
  <div class="col-md-12">
    <h1>or type yours</h1>
  </div>
  <div class="col-md-11">
    <kendo-multiselect [data]="wordList" (keyup.enter)="onInsertWord()" [(value)]="insertedWords"></kendo-multiselect>
  </div>
  <div class="col-md-1">
    <button class="btn btn-primary"
            [disabled]="this.insertedWords.length <= 0"
            (click)="onGetAnkiObjects()">Get
    </button>
  </div>
</div>
<app-search-result *ngIf="result.length" [data]="result"
                   (updateData)="updateData($event)"></app-search-result>
