<kendo-dialog title="Vocabulary information"
              (close)="onClose()"
              *ngIf="open"
              [minWidth]="250"
              [height]="'100%'"
              [width]="'100%'">
  <form [formGroup]="form">
    <div class="row">
      <div class="col-md-2">
        <div class="media-preview d-flex justify-content-center align-items-center">
          <img [class.d-none] = "!this.isImageUrlValid"
               [src]="formControls.picture.value"
               (load)="onLoadImageUrlSuccess()"
               (error)="onLoadImageUrlFail()"
               class="img-thumbnail">
          <fa-icon *ngIf="!isImageUrlValid"
                   [size]="'lg'"
                   [icon]="notExistIcon"></fa-icon>
        </div>
      </div>
      <div class="col-md-10">
        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="name">Name</label>
            <app-field>
              <input formControlName="name" type="text" class="form-control" id="name" placeholder="Name">
            </app-field>
          </div>
          <div class="form-group col-md-8">
            <label for="vocab">Vocabulary</label>
            <input formControlName="vocab" type="text" class="form-control" id="vocab" placeholder="Vocabulary"
            (change)="onVocabChange()"
            (input)="onVocabInput()">
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="wordForm">WordForm</label>
            <input formControlName="wordForm" type="text" class="form-control" id="wordForm" placeholder="WordForm">
          </div>
          <div class="form-group col-md-6">
            <label for="pronounce">Pronounce</label>
            <input formControlName="pronounce" type="text" class="form-control" id="pronounce" placeholder="Pronounce">
          </div>
          <div class="form-group col-md-2">
            <label for="level">Level</label>
            <input formControlName="level" type="text" class="form-control" id="level" placeholder="Level">
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-10">
            <label for="picture">Image link</label>
            <app-field>
              <input formControlName="picture" type="text" class="form-control" id="picture" placeholder="Image link">
            </app-field>
          </div>
          <div class="form-group col-md-2">
            <label for="picture">Listen</label>
            <button class="btn app-info w-100" (click)="onPlaySound()">
              <fa-icon [icon]="playIcon"></fa-icon>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="definition">Definition</label>
        <textarea formControlName="definition" rows="10" class="form-control" id="definition"
                  placeholder="Definition"></textarea>
      </div>
      <div class="form-group col-md-4">
        <label for="example">Example</label>
        <textarea formControlName="example" rows="10" class="form-control" id="example"
                  placeholder="Example"></textarea>
      </div>
      <div class="form-group col-md-4">
        <label for="advanced">Advanced</label>
        <textarea formControlName="advanced" rows="10" class="form-control" id="advanced"
                  placeholder="Advanced"></textarea>
      </div>
    </div>
  </form>
  <kendo-dialog-actions>
    <button [disabled]="!this.form.valid" class="btn app-primary" kendoButton (click)="onSave()">
      <fa-icon [icon]="checkIcon"></fa-icon>
    </button>
    <button class="btn app-danger" kendoButton (click)="onClose()">
      <fa-icon [icon]="timesIcon"></fa-icon>
    </button>
  </kendo-dialog-actions>
</kendo-dialog>
