@function standard-calculator($raito) {
  @return $raito*8px;
}

$primary-blue: #01a3a4;
$primary-yellow: #ff9f43;
$secondary-blue: #00d2d3;
$secondary-yellow: #feca57;
$primary-red: #ee5253;
$secondary-red: #ff6b6b;
$dark-blue: #050E2A;
$primary-gray: #8395a7;
$secondary-gray: #c8d6e5;
$primary-dark-gray: #222f3e;
$secondary-dark-gray: #576574;
$primary-cyan: #0abde3;
$secondary-cyan: #48dbfb;
$white: white;
